{% extends 'base.html' %}
{% load static %}
{% block contenido%}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a href="{% url 'reportes:index' %}" class="align-self-center ms-2 mb-1 btn btn-primary text-light border"><i
            class="far fa-arrow-alt-circle-left"></i> Volver atrás</a>

</div>
<div class="row justify-content-center">
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">ESTADÍSTICAS</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% for parametro in parametros  %}
                <h2 class="text-center p-2 mt-3 display-3">{{parametro.nombre}}</h2>
                <div class="row">

                    {% for punto in puntos  %}
                    <div class="col-xl-4 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <canvas id='jqxChart_{{parametro.id}}_{{punto.id}}'></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock contenido %}
{% block javascript %}

<script>
    var datos_json = JSON.parse('{{ datos_json|safe }}');
    //console.log(datos_json)
    //crear multiple graficos de barra 
    //iterar sobre los elementos del json
    for (var key in datos_json) {
        //itera sobre los puntos de cada elemento
        for (var i = 0; i < datos_json[key].length; i++) {
            // console.log(datos_json[key][i])
            const ctx = document.getElementById(`jqxChart_${key}_${datos_json[key][i].id}`).getContext('2d');
            //create chart type line with datos_json[key][i].data
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: datos_json[key][i].data.map(function (e) {
                        return e.fecha
                    }),
                    datasets: [{
                        label: datos_json[key][i].punto,
                        data: datos_json[key][i].data.map(function (e) {
                            return e.valor
                        }),
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],

                        borderWidth: 1
                    }]
                },

            });

            '{% comment %}'
            /* 
                       var myChart = new Chart(ctx, {
                           type: 'bar',
                           data: {
                               labels: datos_json[key][i].data.map(function (e) {
                                   return e.fecha
                               }),
                               datasets: [{
                                   label: datos_json[key][i].punto,
                                   data: datos_json[key][i].data.map(function (e) {
                                       return e.valor
                                   }),
                                   backgroundColor: [
                                       'rgba(245, 54, 39, 0.8)',
                                       'rgba(12, 24, 233, 0.8)',
                                       'rgba(0, 0, 0, 0.8)',
                                   ],
                                   borderColor: [
                                       'rgba(255, 255, 255, 0.8)',
                                       'rgba(255, 255	, 255, 0.8)',
                                       'rgba(255, 255, 255, 0.8)',
                                   ],
                                   borderWidth: 1

                               }]
                           },
                          
                           options: {
                               responsive: true,
                               scales: {
                                   y: {
                                       ticks: {
                                           beginAtZero: true
                                       }
                                   }
                               }
                           }
                   });*/
            '{% endcomment %}'
        }
    }
</script>
{% endblock javascript %}