{% extends 'base.html' %}
{% load static %}
{% block contenido%}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a href="{% url 'master:index' %}" class="align-self-center ms-2 mb-1 btn btn-primary text-light border"><i
            class="far fa-arrow-alt-circle-left"></i> Volver al
        menú</a>
    {% if fecha_dato is false %}
    <a href="{% url 'datos:agregar' %}" class="align-self-center ms-2 mb-1 btn btn-success text-light border"><i
            class="fas fa-plus-circle"></i> Agregar Datos</a>
    {% endif %}
</div>
<div class="table-responsive mt-3">
    <table id="tabla_base" class="table table-striped table-hover table-borderless" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th>Valor 1</th>
                <th>Valor 2</th>
                <th>Valor 3</th>
                <th>Fecha</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for datos in object_list %}
            <tr>
                <td>{{datos.valor1}}</td>
                <td>{{datos.valor2}}</td>
                <td>{{datos.valor3}}</td>
                <td>{{datos.fecha}}</td>
                <td>{{datos.usuario.first_name}} {{datos.usuario.last_name}}</td>
                <td>
                    <a class="btn btn-primary btn-sm text-light border border-dark m-1"
                        href="{% url 'datos:editar' pk=datos.id %}" id="edit"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock contenido %}
{% block javascript %}
<script>
</script>
{% endblock javascript %}