{% extends 'base.html' %}
{% load static %}
{% block contenido%}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a href="{% url 'plantillas:index' %}" class="align-self-center ms-2 mb-1 btn btn-primary text-light border"><i
            class="far fa-arrow-alt-circle-left"></i> Volver atrás</a>
</div>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible" role="alert">{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<!--FECHA HOY-->
<!--- create form with horizontal is {{puntos_medicion}} and vertical is {{parametros}}-->
<button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#modal">
    Fechas Existentes
</button>
<div class="card shadow mb-4">

    <div class="card-body">
        <form action="{% url 'datos:ingreso_datos' pk_plantilla=plantilla.id get_fecha=None %}" method="POST">
            {% csrf_token %}
            <div class="form-group col-xl-4">
                <label for="fecha">Fecha </label>
                <input type="date" class="form-control" id="fecha" name="fecha" value="{{fecha}}"
                    max="{% now "Y-m-d" %}" required>
            </div>

            <!--horizontal is bucle ti {{puntos_medicion}}-->
            <table class="table table-bordered table-responsive-xl justify-content-center">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        {% for punto_medicion in puntos_medicion %}
                        <th scope="col">{{punto_medicion.nombre}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <!--vertical is bucle ti {{parametros}}-->
                    {% for parametro in parametros %}
                    <tr>
                        <th scope="row">{{parametro.nombre}}</th>
                        {% for punto_medicion in puntos_medicion %}
                        <td>
                            <input type="text" class="form-control value" name="{{punto_medicion.id}}_{{parametro.id}}"
                                id="{{punto_medicion.id}}_{{parametro.id}}" placeholder="Ingrese valor">
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="my-4">
                <label for="text_notas">Agregar analisis de datos:</label>
                <textarea class="form-control" name="text_notas" id="text_notas" cols="30" rows="5"></textarea>
                <button id="agregar_nota" class="btn btn-primary mt-2 float-end">Agregar</button>
            </div>
            <div>
                <ul id="notas">
                    {% for nota in notas  %}
                    <li id="{{nota.id}}">{{nota.nota}} - <a href="{% url 'datos:borrar_nota' pk_nota=nota.id %}">
                            <small>Eliminar</small></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!--button submit in center-->
            <div class=" text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>

        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" notempty='not' aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" notempty='not'>
        <div class="modal-content" notempty='not'>
            <div class="modal-header" notempty='not'>
                <h5 class="modal-title " id="modalLabel" notempty='not'>Fechas existentes:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" notempty='not'>
                <div class="overflow-auto" style="height: 200px;">
                    <ul>
                        {% for fecha in fechas_existentes %}
                        <li class="text-right">{{fecha.fecha}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="modal-footer" notempty='not'>
                <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block javascript %}
<script>
    //with {{datos}} populate the table with the data 

    '{% for dato in datos %}'
    //'{{dato.valor}}' format 20,0 to 20.0
    $('#{{dato.punto_medicion.id}}_{{dato.parametro.id}}').val('{{dato.valor|floatformat:2}}');
    //add <small> to every input with dato.usuario
    $('#{{dato.punto_medicion.id}}_{{dato.parametro.id}}').after('<small>{{dato.usuario}}</small>');

    '{% endfor %}'

    //if fecha change, get the data from the server and populate the table:
    $('#fecha').change(function () {
        $('#notas').empty();
        var fecha = $('#fecha').val();
        var url = '{% url "datos:get_datos" pk_plantilla=plantilla.id %}';
        $.ajax({
            url: url,
            type: 'GET',
            data: {
                fecha: fecha
            },
            success: function (data) {
                //if data is empty values
                if (data['datos'].length == 0) {
                    $('.value').val('');
                    $('small').remove();
                }
                //with data populate the table with the data
                for (var i = 0; i < data['datos'].length; i++) {
                    $('#' + data['datos'][i].punto_medicion + '_' + data['datos'][i].parametro).val(
                        data['datos'][i]
                        .valor);
                    //remove the <small> and add it again with the new user
                    $('#' + data['datos'][i].punto_medicion + '_' + data['datos'][i].parametro)
                        .next().remove();
                    $('#' + data['datos'][i].punto_medicion + '_' + data['datos'][i].parametro)
                        .after(
                            '<small>' + data['datos'][i].usuario + '</small>');
                }
                //add notas from data['notas']
                for (var i = 0; i < data['notas'].length; i++) {
                    $('#notas').append('<li id=' + data['notas'][i].id + '>' + data['notas'][i]
                        .nota +
                        '- <a href="/datos/borrar_nota/' + data['notas'][i].id +
                        '"> <small>Eliminar</small></a> </li>'
                    );

                }
            }
        });
    });

    //if the user click on the button add_nota, add the textarea to the ul
    $('#agregar_nota').click(function () {
        //prevent default
        event.preventDefault();
        $.ajax({
            url: '{% url "datos:agregar_nota" pk_plantilla=plantilla.id %}',
            type: 'GET',
            data: {
                nota: $('#text_notas').val(),
                fecha: $('#fecha').val()
            },
            success: function (data) {
                console.log(data);
                $('#notas').append('<li id=' + data.id + '>' + data.nota +
                    '- <a href="/datos/borrar_nota/' + data.id +
                    '"> <small>Eliminar</small></a> </li>'
                );

            }
        });
        $('#text_notas').val('');
    });
</script>
{% endblock javascript %}